@page "/recips/add"
@page "/recips/{RecipId:guid}"
@using ms_recip.Ms_recip.Models
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>RecipForm</h3>


<RadzenTemplateForm Data="@RecipsState.Value.ExpectedItem" Submit="@((RecipModel args) => { Submit(args); })">
    <RadzenRow Gap="2rem" class="rz-p-0 rz-p-lg-4">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenStack>

                @* RecipName *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenLabel Text="RecipName"
                                     Component="RecipName" />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenColumn Size="12" SizeMD="12">

                            <RadzenTextBox @bind-Value="@RecipsState.Value.ExpectedItem.Name"
                                           Placeholder="Enter the recip name"
                                           Name="RecipName" />
                        </RadzenColumn>

                        <RadzenColumn Size="12" SizeMD="12">
                            <RadzenRequiredValidator Component="RecipName"
                                                     Text="Recip name is required"
                                                     Style="position: absolute" />
                        </RadzenColumn>
                    </RadzenColumn>
                </RadzenRow>

                @* RecipImage *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenLabel Text="RecipImage"
                                     Component="RecipImage" />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenColumn Size="12" SizeMD="12">

                            <RadzenTextBox @bind-Value="@RecipsState.Value.ExpectedItem.Image"
                                           Placeholder="Enter the url of the recip image"
                                           Name="RecipImage" />
                        </RadzenColumn>

                        <RadzenColumn Size="12" SizeMD="12">
                            <RadzenRequiredValidator Component="RecipImage"
                                                     Text="Recip image is required"
                                                     Style="position: absolute" />
                        </RadzenColumn>
                    </RadzenColumn>
                </RadzenRow>

                @* RecipPersonNumber *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenLabel Text="RecipPersonNumber"
                                     Component="RecipPersonNumber" />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenColumn Size="12" SizeMD="12">

                            <RadzenNumeric @bind-Value="@RecipsState.Value.ExpectedItem.PersonNumber"
                                           Placeholder="Enter the number of persons"
                                           Name="RecipPersonNumber" />
                        </RadzenColumn>

                        <RadzenColumn Size="12" SizeMD="12">
                            <RadzenNumericRangeValidator Component="RecipPersonNumber"
                                                         Min="1" 
                                                         Max="10" 
                                                         Text="The number of the persons should be between 1 and 10" 
                                                         Style="position: absolute" />
                        </RadzenColumn>
                    </RadzenColumn>
                </RadzenRow>

                @* RecipCookingDuration *@
                <RadzenRow AlignItems="AlignItems.Center">
                    <RadzenColumn Size="12" SizeMD="4">
                        <RadzenLabel Text="RecipCookingDuration"
                                     Component="RecipCookingDuration" />
                    </RadzenColumn>

                    <RadzenColumn Size="12" SizeMD="8">
                        <RadzenColumn Size="12" SizeMD="12">

                            <RadzenDatePicker @bind-Value="@RecipsState.Value.ExpectedItem.CookingDuration"
                                              Placeholder="Enter the cooking duration"
                                              Name="RecipCookingDuration"
                                              ShowTime="true" 
                                              TimeOnly="true"
                                              DateFormat="HH:mm" />
                        </RadzenColumn>

                        <RadzenColumn Size="12" SizeMD="12">
                            <RadzenRequiredValidator Component="RecipCookingDuration"
                                                     Text="Cooking duration is required"
                                                     Style="position: absolute" />
                        </RadzenColumn>
                    </RadzenColumn>
                </RadzenRow>

            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1rem" class="rz-mt-8 rz-mb-4">
        <RadzenButton ButtonType="ButtonType.Submit" Size="ButtonSize.Large" Icon="save" Text="Save" />
        <RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Large" Icon="cancel" Text="Cancel" Click="@Cancel" />
    </RadzenStack>
</RadzenTemplateForm>
