@inherits LayoutComponentBase

<RadzenLayout style="position: relative;grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" 
                     AlignItems="AlignItems.Center" 
                     Gap="0">

            <RadzenSidebarToggle Click="@(() => SidebarExpanded = !SidebarExpanded)" />

            <NotificationsButton />
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar Responsive="false" 
                   @bind-Expanded="@SidebarExpanded" 
                   style="position: absolute; z-index: 3">
        <RadzenStack Orientation="Orientation.Horizontal" 
                     class="rz-p-2"
                     AlignItems="AlignItems.End"
                     JustifyContent="JustifyContent.End">
            <RadzenText Text="@ApplicationVersion" 
                        TextStyle="TextStyle.Subtitle1"
                        Style="color: var(--rz-secondary);margin:0;" />

            <RadzenButton Icon="@MaterialIconConstants.LeftArrow"
                          Variant="Variant.Text" 
                          ButtonStyle="ButtonStyle.Secondary" 
                          Click="@(() => SidebarExpanded = false)" />
        </RadzenStack>

        <RadzenPanelMenu>
            @foreach (var menuItem in menuItems)
            {
                <RadzenPanelMenuItem Text="@menuItem.Text"
                                     Icon="@menuItem.Icon"
                                     Path="@menuItem.Path"
                                     Click="@(() => SidebarExpanded = false)" />
            }

        </RadzenPanelMenu>
    </RadzenSidebar>
    
    <RadzenBody>
        <MessageDisplayer />

        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    @if (SidebarExpanded)
    {
        <div @onclick="@(() => SidebarExpanded = false)" class="rz-dialog-mask" style="position: absolute; z-index: 2"></div>
    }
</RadzenLayout>